{% extends 'base.html.twig' %}

{% block body %}

<div class="container-fluid">
    <div class="vertical-center">
        <h1>Bienvenue ! Pour une nouvelle partie !</h1>
        <a class="button" href="{{ path('init_party') }}">Démarrer</a>
    </div>
</div>
{% endblock %}